/* font pango:InputMono 11 */
/* set $color-off-white #FFE0B2 */
/* set $color-bronze #996011 */
/* set $color-charcoal #656868 */
/* set $color-berry #3D002E */

window {
    margin: 5px;
    border: 2px solid #3D002E;
    background-color: #3D002E;
}

#input {
    margin: 5px;
    border: 2px solid teal;
    background-color: teal;
    color: black;
    font-size: 14pt;
}

#inner-box {
    margin: 5px;
    border: 2px solid #656868;
    background-color: #656868;
}

#outer-box {
    margin: 5px;
    border: 2px solid #656868;
    background-color: #656868;
}

#scroll {
    margin: 5px;
    border: 2px solid #656868;
    background-color: #656868;
}

#text {
    margin: 5px;
    /* border: 2px solid teal; */
    /* background-color: teal; */
}
